/* Empty. Add your own CSS if you like */
.dictionary-list{
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
}
.dictionary-ui1{
    background-color: #2ecc71;
}